.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.custom-navbar-toggler .navbar-toggler-icon {
  color: #f00; 
}

body {
  font-family: 'Lexend', sans-serif; 
}

ul, li {
  list-style-type: none;
  padding: 0;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.custom-menu-icon {
  color: white
}

.navbarStyle {
  height: 15vh;
  background-color: #E97A2B;
  color: white;
  display: flex;
  padding-bottom: 0px;
  align-items: flex-end;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
}

.card {
  width: 100%;
}

@media (max-width: 575.98px) {
  .card {
    width: 100%; 
  }
}

@media (min-width: 1200px) {
  .card {
    width: 60%; 
  }
}

.sizing {
  width: 100%;
}

@media (max-width: 575.98px) {
  .sizing {
    width: 100%; 
  }
}

@media (min-width: 1200px) {
  .sizing {
    width: 60%; 
  }
}


.cards {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.cardHome {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px solid #E47862;
  border-radius: 36px;
  min-width: 30%;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.gridForm{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  text-align: center;
  gap: 10px;
  row-gap: 15px;
  width: 100%;
}

.ColoredBox{
  padding: 10px 12px 12px 10px;
  text-wrap: nowrap;
  background-color: #E47862;
  border-radius: 50px;
  color: white;
  grid-column: 4 / 10; 
  grid-row: 1;
  border-width: 0px;
}

.inputStyle{
  border-radius: 30px;
  border-color:#E47862;
  padding: 10px 12px 12px 10px;
  margin-bottom: 10px;
  min-width: 100%;
  border-width: 1px;
}

.boxText{
  font-size: 20px;
  text-align: center;
  padding: 0px;
  margin: 0;
}


.gridPosition{
  grid-column: 3 / 11;
  grid-row: 2;
}

.title{
  font-weight: bold;
  font-size: 26px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1025px) {
  .gridForm{
    width: 100%;
  }

  .ColoredBox{
    margin-top: 10px;
    padding: 20px 24px 24px 20px;
  }

  .inputStyle{
    padding: 20px 24px 24px 20px;
  }

  ul {
    padding: 0 30px;
  }

  li {
    font-size: 18px;
    padding: 12px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .gridForm{
    width: 100%;
  }

  .ColoredBox{
    margin-top: 10px;
    padding: 20px 24px 24px 20px;
  }

  .inputStyle{
    padding: 20px 24px 24px 20px;
  }


  ul {
    padding: 0 20px;
  }

  li {
    font-size: 16px;
    padding: 10px;
  }
}
